<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.i18n.wide}} - {{.i18n.wide_title}}</title>
        <meta name="keywords" content="Wide, Golang, IDE, Team, Cloud, B3log, Login" />
        <meta name="description" content="A Web-based IDE for Teams using Golang, do your development anytime, anywhere." />
        <meta name="author" content="B3log">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/base.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/sign.css?{{.conf.StaticResourceVersion}}">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        <div style="background: #fff"></div>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery.form.js"></script>
        <script type="text/javascript">
            (function () {
                function autoLogin() {
                    $.post(
                        '{{.conf.Context}}/login',
                        { username: 'root', password: '88888888' },
                        function (result) {
                            if (!ressult.succ) {
                                $("#msg").text('{{.i18n.login_error}}').show();
                                return;
                            }
                            window.location.href = "{{.conf.Context}}/";
                        }
                    );
                };
                autoLogin();
            })();
        </script>
    </body>
</html>