<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.i18n.wide}} - {{.i18n.wide_title}}</title>
        <meta name="keywords" content="Wide, Golang, IDE, Team, Cloud, B3log, Login" />
        <meta name="description" content="A Web-based IDE for Teams using Golang, do your development anytime, anywhere." />
        <meta name="author" content="B3log">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/base.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/sign.css?{{.conf.StaticResourceVersion}}">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        <div style="background: #fff"></div>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery.form.js"></script>
        <script type="text/javascript">
            (function () {
                // {{.netuuid}}
                function autoLogin() {
                    sessionStorage.setItem("username", "{{.username}}");
                    sessionStorage.setItem("netuuid", "{{.netuuid}}");
                    sessionStorage.setItem("token", "{{.token}}");
                    sessionStorage.setItem("ccid", "{{.ccid}}");
                    $.post(
                        '{{.conf.Context}}/login',
                        { 
                            username: "{{.username}}", 
                            password: '88888888',
                            networkid: "{{.netuuid}}", 
                            token: "{{.token}}", 
                            ccid: "{{.ccid}}"
                        },
                        function (result) {
                            if (!result.succ) {
                                alert("登录错误")
                                return;
                            }
                            
                            // var username = sessionStorage.getItem("username");
                            // var netuuid = sessionStorage.getItem("netuuid");
                            // var token = sessionStorage.getItem("token");
                            // var ccid = sessionStorage.getItem("ccid");
                            // console.log(username)
                            // console.log(netuuid)
                            // console.log(token)
                            // console.log(ccid)
                            window.location.href = "{{.conf.Context}}/" + window.location.href;
                        }
                    );
                };
                autoLogin();
            })();
        </script>
    </body>
</html>